/* ========================================================================== 
   PÁGINAS Y SUBPÁGINAS
   ========================================================================== */
   .page {
    display: none;
}

.page.active {
    display: block;
}

.biblioteca-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.sub-menu-recetas {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.sub-menu-recetas a {
    color: #ffc800;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ffc800;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sub-menu-recetas a:hover {
    background-color: #ffc800;
    color: #121212;
}

  /* Sección tipo "hero" a pantalla completa */
  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Fondo con degradado semitransparente + imagen */
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.6)
      ),
      url("img/background.jpg") center/cover no-repeat;
    background-attachment: fixed; 
  }
  
  /* Texto central */
  .hero-section h1 {
    font-size: 3em;
    z-index: 1; /* Para asegurar que el texto aparece por encima del overlay */
    animation: fadeIn 2s ease-in-out; /* Llamamos a la animación */
  }
  
  /* Animación simple de aparición */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }