/* Estilos para la página de recetas */
.cocteles-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional, para centrar completamente en toda la pantalla */
}

.cocteles-list {
    flex: 0 0 70vh;
    max-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ffc800;
    padding-right: 2.5rem;
}

.coctel-detalles {
    flex: 1; /* Ajusta para ocupar el resto del espacio disponible */
}

.coctel-item {
    margin: 0.5rem 0;
    padding: 0.3rem;
    cursor: pointer;
    border: 1px solid #ffc800;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.2s;
}

.coctel-item:hover {
    background-color: #ffc800;
    color: #2b2b2b;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .cocteles-container {
      flex-direction: column; /* Cambia a disposición vertical */
      height: auto; /* Permite que el contenedor ajuste su altura */
    }
  
    .cocteles-list {
      display: flex; /* Configura como un contenedor flex */
      flex-direction: row; /* Elementos en una fila horizontal */
      overflow-x: auto; /* Habilita el desplazamiento horizontal */
      max-height: unset; /* Sin límite de altura */
      border-right: none; /* Elimina el borde derecho */
      border-bottom: 1px solid #ffc800; /* Añade un borde inferior */
      padding-bottom: 0.5rem;
      gap: 0.5rem; /* Espaciado entre elementos */
      white-space: nowrap; /* Evita que los elementos se envuelvan */
    }
  
    .coctel-item {
      flex: 0 0 auto; /* Asegura que cada elemento mantenga su tamaño */
      min-width: 150px; /* Establece un ancho mínimo */
      text-align: center;
      border: 1px solid #ffc800;
      border-radius: 4px;
      padding: 0.5rem;
      margin: 0.3rem;
      background-color: #f5f5f5; /* Fondo claro para elementos */
    }
  
    .coctel-item:hover {
      background-color: #ffc800; /* Color de fondo al pasar el mouse */
      color: #2b2b2b; /* Color de texto */
    }
  
    .coctel-detalles {
      margin-top: 1rem; /* Asegura un espaciado adecuado debajo de la lista */
      padding: 1rem;
    }
  }
  