/* Estilos para la página de recetas */
.cocteles-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional, para centrar completamente en toda la pantalla */
}

.cocteles-list {
    flex: 0 0 70vh;
    max-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ffc800;
    padding-right: 2.5rem;
}

.coctel-detalles {
    flex: 1; /* Ajusta para ocupar el resto del espacio disponible */
}

.coctel-item {
    margin: 0.5rem 0;
    padding: 0.3rem;
    cursor: pointer;
    border: 1px solid #ffc800;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.2s;
}

.coctel-item:hover {
    background-color: #ffc800;
    color: #2b2b2b;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .cocteles-container {
      flex-direction: column; /* Cambia la disposición vertical */
      height: auto; /* Ajusta la altura al contenido */
      padding: 0 1rem; /* Agrega un padding horizontal para un mejor espaciado */
    }
  
    .cocteles-list {
      position: fixed; /* Fija la barra en su lugar */
      padding: 0.5rem 0; /* Espaciado interno */
      letter-spacing: 1px; /* Espaciado entre letras */
      font-family: 'Source Sans Pro', sans-serif; /* Tipografía */
      font-size: 0; /* Resetea el tamaño de la fuente para eliminar márgenes indeseados */
      bottom: 5%; /* Ajusta la posición en la pantalla */
      z-index: 2; /* Coloca la barra por encima de otros elementos */
      width: 100%; /* Ocupa todo el ancho de la pantalla */
      white-space: nowrap; /* Evita que los elementos se envuelvan */
      overflow-x: auto; /* Habilita el scroll horizontal */
      overflow-y: hidden; /* Oculta el scroll vertical */
      scrollbar-width: none; /* Oculta el scrollbar en navegadores compatibles */
  }
  
  /* Ocultar barra de desplazamiento para navegadores WebKit */
  .cocteles-list::-webkit-scrollbar {
      display: none;
  }
  
  /* Estilo para los elementos individuales */
  .coctel-item {
      display: inline-block; /* Asegura que estén en línea horizontal */
      min-width: 120px; /* Ancho mínimo */
      padding: 0.5rem 1rem; /* Espaciado interno */
      margin: 0 0.5rem; /* Espaciado entre elementos */
      text-align: center; /* Centra el texto */
      border: 1px solid #ffc800; /* Borde amarillo */
      border-radius: 8px; /* Bordes redondeados */
      background-color: transparent; /* Fondo transparente */
      color: #f1f1f1; /* Texto claro */
      font-size: 16px; /* Tamaño del texto */
      transition: background-color 0.3s, color 0.3s; /* Efecto suave al pasar el mouse */
  }
  
  /* Efecto hover */
  .coctel-item:hover {
      background-color: #ffc800; /* Fondo amarillo */
      color: #000; /* Texto negro */
  }
  }
  