/* ========================================================================== 
   UTILIDADES
   ========================================================================== */
   .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    margin: 1rem auto;
    background-color: #ffcc00;
    color: #121212;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e6b800;
}
